@import "reset.css";
@import "theme.css";

html,
body,
body > :first-child {
    height: 100%;
}

body {
    background: var(--color-background);
    color: var(--color-heading);
    font-family: var(--font-default);
}

p {
    color: var(--color-text)
}

a {
    color: var(--color-link);
}
