/* Non-colour style variables */
:root {
    --font-default: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/named-color */
/* Colour varibles */
:root {
    --deep-black: #050505;
    --charcoal: #1a1a1a;
}

/* Semantic colours */
:root {
    --color-background: radial-gradient(ellipse at 50% 25%, hsl(38, 90%, 85%) 10%, hsl(38, 30%, 30%) 100%);
    --color-text: var(--deep-black);
    --color-heading: var(--deep-black);
    --color-link: hsl(218, 90%, 10%);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --color-background: radial-gradient(ellipse at 50% 15%, var(--charcoal), black); */
        --color-background: var(--charcoal);
        --color-text: silver;
        --color-heading: ghostwhite;
        --color-link: lightcoral;
    }
}
